<footer>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 style="color: grey;"><b>Follow Us</b></h5>
        <div class="social-icons">
          <a href=" https://www.facebook.com/LegendaryGamerUg?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://instagram.com/legendary_gamer1996?igshid=ZDdkNTZiNTM=" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href=" https://youtube.com/@LGamer96" target="_blank"><i class="fab fa-youtube"></i></a>

        </div>
      </div>
    </div>
  </div>
</footer>




</html>
  <script src="/js/jquery.js"></script>
    <script src="/js/materialize.js"></script>

    
<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5951319,document.body||document.documentElement)</script>
<script>
$(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });



  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });


    </script>
    <script>
// Or with jQuery
$(document).ready(function(){
  $('.tabs').tabs();
});



document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.carousel').carousel();
  });
  
  $(document).ready(function(){
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,
    duration: 200,
  });

  // Automatic slide interval
  setInterval(function() {
    $('.carousel.carousel-slider').carousel('next');
  }, 5000); // Change 5000 to the desired interval in milliseconds
});

</script>