<html>
    <head>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9ELZDMTMYC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9ELZDMTMYC');
</script>
    <script>(function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('oaphoace.net',5964952,document.createElement('script'))</script>
    
        <title>
<%=title%>
    </title>
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/game.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8644163658349334"
     crossorigin="anonymous"></script>-->
     
     <meta name="monetag" content="ddf517a9876f1efbebcf90af689c5545">
     
     
     <!--<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5951319,document.body||document.documentElement)</script>-->
     
     <script async="async" data-cfasync="false" src="//ophoacit.com/1?z=5964885"></script>
     <!--<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5954552,document.body||document.documentElement)</script>-->
         <script>(function(d,z,s){s.src='https://'+d+'/400/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('agamagcargoan.com',5964937,document.createElement('script'))</script>
     
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      
      
    
    
</head>
    <style>

      .fa-facebook {
        font-size: 50px;
  color: #3b5998;
}

.fa-twitter {
  font-size: 50px;
  color: #1da1f2;
}

.fa-instagram {
  font-size: 50px;
  color: #e1306c;
}
.fa-youtube {
  font-size: 50px;
  color: red;
}
</style>
<nav class="container">
  <div class="nav-wrapper black">
    <ul id="nav-mobile" class="center">
      <li class="center"><a href="/">Home</a></li>

      <li class="center"><a href="services">Services</a></li>
      
      <li ><a href="/blog">Blog</a></li>
      <li ><a href="/terms">Terms And Conditions</a></li>
      <li ><a href="/privacy">Privacy Policy</a></li>
      <li ><a href="/about">About us</a></li>
      <li ><a href="/contact">Contact US</a></li>
      <li ><a href="/donatenow">Donate</a></li>
      <li ><a href="/gamerequests">Game Requests</a></li>
      
    </ul>
  </div>
</nav>
<h1 class="white-text center"><a href="/"><img src="/img/lg.png" alt="" width="200" height="130"></a></h1>