<%-  include('layouts/header') %>
<body class="black white-text">
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <a href="#" class="brand-logo center">Privacy Policy</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Your Privacy Matters to Us</h4>
                <p>We at MyGameWebsite.com are committed to protecting your privacy. This Privacy Policy explains our data processing practices and the ways in which your personal data is used. If you have any requests concerning your personal information or any queries with regard to our practices, please contact us at privacy@mygamewebsite.com.</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card grey darken-4">
                    <div class="card-content">
                        <span class="card-title">Information We Collect</span>
                        <p>We collect information about you when you register with us, subscribe to our newsletter, or make a purchase. This information may include your name, email address, billing address, and credit card information. We also collect information about your use of our website, such as your IP address, browser type, and pages visited.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card grey darken-4">
                    <div class="card-content">
                        <span class="card-title">How We Use Your Information</span>
                        <p>We use the information we collect to provide you with the services you request, process your payments, and improve our website. We may also use your information to send you marketing communications about our products and services, unless you opt-out of receiving such communications.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card grey darken-4">
                    <div class="card-content">
                        <span class="card-title">Sharing Your Information</span>
                        <p>We may share your information with third-party service providers who perform functions on our behalf, such as payment processing and website hosting. We may also share your information with our business partners to offer you additional products and services that may be of interest to you.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card grey darken-4">
                    <div class="card-content">
                        <span class="card-title">Security of Your Information</span>
                        <p>We take the security of your information seriously and implement appropriate technical and organizational measures to protect it. However, no data transmission over the internet can be guaranteed to be 100% secure, so we cannot guarantee the security of any information you transmit to us.</p>
                    </div>
                </div>
<%-  include('layouts/footer') %>